/* start editing from here */
a {
  text-decoration: none;
}
.txt-rt {
  text-align: right;
} /* text align right */
.txt-lt {
  text-align: left;
} /* text align left */
.txt-center {
  text-align: center;
} /* text align center */
.float-rt {
  float: right;
} /* float right */
.float-lt {
  float: left;
} /* float left */
.clear {
  clear: both;
} /* clear float */
.pos-relative {
  position: relative;
} /* Position Relative */
.pos-absolute {
  position: absolute;
} /* Position Absolute */
.vertical-base {
  vertical-align: baseline;
} /* vertical align baseline */
.vertical-top {
  vertical-align: top;
} /* vertical align top */
.underline {
  padding-bottom: 5px;
  border-bottom: 1px solid #eee;
  margin: 0 0 20px 0;
} /* Add 5px bottom padding and a underline */
nav.vertical ul li {
  display: block;
} /* vertical menu */
nav.horizontal ul li {
  display: inline-block;
} /* horizontala menu */
img {
  max-width: 100%;
}
/*end reset*/
/*--sign up page start here--*/
body {
  font-family: "Open Sans", sans-serif;
  min-height: 900px;
  background-color: #d7d7d7;
  color: #565656;
  font-weight: 500;
}

.footer {
  padding: 4em 0;
  text-align: center;
}

h1 {
  font-size: 2.3em;
  font-weight: 600;
  color: #fff;
  text-align: center;
  margin: 1em 0em 0em 0em;
}
.login {
  width: 31%;
  margin: 35px auto 0;
  padding: 15px 0px 0px 0px;
  border-radius: 5px;
  background: #fff;
}
.login h2 {
  font-size: 30px;
  font-weight: 700;
  color: #000;
  text-align: center;
}
.login form input[type="text"] {
  outline: none;
  font-size: 15px;
  font-weight: 400;
  color: #c0c0c0;
  padding: 10px 20px 10px 46px;
  border: 1px solid #2dc2bc;
  border-radius: 5px;
  margin: 0 auto 15px;
  width: 60%;
  -webkit-appearance: none;
}
form {
  padding: 22px 0px 0px 0px;
}
.login input[type="password"] {
  outline: none;
  font-size: 19px;
  font-weight: 400;
  padding: 10px 20px 10px 45px;
  border: 1px solid #2dc2bc;
  border-radius: 5px;
  margin: 0 auto 11px;
  width: 60%;
  -webkit-appearance: none;
  color: #c0c0c0;
}
.login-bwn {
  text-align: center;
}
.login input[type="submit"] {
  background: #2dc2bc;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  padding: 6px 0px;
  width: 20%;
  cursor: pointer;
  outline: none;
  margin: 15px 0px 5px 0px;
  border: none;
  border-radius: 5px;
}
.login input[type="submit"]:hover {
  background: rgb(160, 6, 6);
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.login form input.user {
  background: url(./images/user.png) no-repeat 15px 7px #fff;
  display: block;
}
.login form input.lock {
  background: url(./images/key.png) no-repeat 15px 7px #fff;
  display: block;
}
label.checkbox {
  float: left;
}
.forgot input[type="checkbox"] {
  display: none;
}
.forgot.checkbox input {
  position: absolute;
  left: -9999px;
}
.forgot.checkbox i {
  border-color: #fff;
  transition: border-color 0.3s;
  -o-transition: border-color 0.3s;
  -ms-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  -webkit-transition: border-color 0.3s;
}
.forgot.checkbox i:hover {
  border-color: red;
}
.forgot i:before {
  background-color: #2da5da;
}
.forgot .rating label {
  color: #ccc;
  transition: color 0.3s;
  -o-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -webkit-transition: color 0.3s;
}
.forgot .checkbox input + i:after {
  position: absolute;
  opacity: 0;
  transition: opacity 0.1s;
  -o-transition: opacity 0.1s;
  -ms-transition: opacity 0.1s;
  -moz-transition: opacity 0.1s;
  -webkit-transition: opacity 0.1s;
}
.forgot .checkbox input + i:after {
  content: url(./images/tick.png) no-repeat 7px 1px;
  top: 2px;
  left: 2px;
  width: 15px;
  height: 15px;
}
.forgot .checkbox {
  padding: 6px 0px 0px 22px;
  font-size: 15px;
  font-weight: 500;
  line-height: 5px;
  color: #c0c0c0;
  cursor: pointer;
  position: relative;
  display: block;
  float: left;
}
.forgot .checkbox:hover {
  text-decoration: none;
}
.forgot .checkbox i {
  position: absolute;
  top: 1px;
  left: 0px;
  display: block;
  width: 16px;
  height: 16px;
  outline: none;
  border: none;
  background: #ddd8d8;
  border-radius: 3px;
}
.forgot .checkbox input + i:after {
  position: absolute;
  opacity: 0;
  transition: opacity 0.1s;
  -o-transition: opacity 0.1s;
  -ms-transition: opacity 0.1s;
  -moz-transition: opacity 0.1s;
  -webkit-transition: opacity 0.1s;
}
.forgot .checkbox input + i:after {
  color: #2da5da;
}
.forgot.checkbox input:checked + i,
.forgot .input:checked + i {
  border-color: #2da5da;
}
.forgot .rating input:checked ~ label {
  color: #2da5da;
}

.forgot .checkbox input:checked + i:after {
  opacity: 1;
}
.login-bottom {
  text-align: center;
  background: rgba(236, 236, 236, 0.29);
  padding: 0px 0px 40px 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0 1.5em 2em;
}
.login-bottom h3 {
  font-size: 20px;
  font-weight: 700;
  color: #000;
  padding: 25px 0px 0px 0px;
}
.login-bottom p {
  font-size: 15px;
  font-weight: 400;
  color: #000;
  margin: 4px 0px 10px 0px;
}
.face-bwn {
  width: 20%;
  display: inline-block;
  margin: 40px 0px 40px 0px;
}
.forgot {
  width: 75%;
  margin: 0 auto;
}

.login {
  border: 2px double#00debb;
  border-color: 1px #90f247;
}

.login-para p {
  padding: 0px 4px 0px 0px;
}
.login-check {
  float: left;
}
.login-para {
  float: right;
}
.login-para p a {
  font-size: 15px;
  font-weight: 400;
  color: rgb(219, 0, 0);
}
.login-para p a:hover {
  color: #999;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.login-bottom h4 {
  font-size: 16px;
  font-weight: 400;
  color: #000;
  margin: 20px 0px 0px 0px;
}
.login-bottom h4 a {
  font-size: 16px;
  font-weight: 400;
  color: rgb(219, 0, 0);
}
.login-bottom h4 a:hover {
  color: #2dc2bc;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.reg-bwn {
  margin: 25px 0px 0px 0px;
}
.reg-bwn a {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background-color: #2cbf6d;
  padding: 8px 25px;
  border-radius: 5px;
}
.reg-bwn a:hover {
  background: rgb(219, 0, 0);
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.button a {
  font-size: 15px;
  font-weight: 600;
  color: linear-gradient(to right, #90f247 0, #00debb 100%);
  margin: 0px 1.5% 0px 0px;
  border-radius: 4px;
  float: left;
  width: 32.33%;
  padding: 0px 0;
}
.button a.tw {
  background: #1daee3;
  float: left;
}
/* .button a.fa {
   background:#3B5998; 
 float: left;
 border: 3px solid;
  
} 
*/
.button a span {
  margin-top: 8px;
  display: block;
}
.button a.go {
  /* background:#D34836; */
  margin: 0;
  float: left;
}
.button a.tw:hover {
  background: #1ca4d6;
}
/* .button a.fa:hover{
  border-color: #46629E
} */
/* .button a.go:hover{
  border-color: #46629E
} */
/* i.anc-tw {
  background: url(../img/twitter.png)no-repeat 10px 9px #1CA4D6;
  width: 26px;
  height: 19px;
  display: inline-block;
  padding: 10px 6px;
 float: left;
  border-radius: 4px 0px 0px 4px;
} */
i.anc-fa {
  /* float: left;
  background: url(../img/facebook.png)no-repeat 6px 9px #37528C;
  width: 26px;
  height: 19px;
  display: inline-block;
  padding: 10px 6px;
  border-radius: 4px 0px 0px 4px; */
  background: url(./images/facebook.png);
  width: 26px;
  height: 19px;
  display: inline-block;
  padding: 13px 13px;
  z-index: 999;
  margin: 0 -10px;
}
i.anc-go {
  /* background: url(../img/google.png)no-repeat 9px 9px #C74534;
  width: 26px;
  height: 19px;
  display: inline-block;
  padding: 10px 6px;
 float: left;
  border-radius: 4px 0px 0px 4px; */
  background: url(./images/google.png);
  width: 20px;
  height: 19px;
  display: inline-block;
  padding: 13px 13px;
}
.button {
  padding: 20px 0px 42px 0px;
  border-bottom: 1px solid #ccc;
}
h3 {
  font-size: 2em;
  font-weight: 600;
  color: #fff;
  text-align: center;
  margin-top: 1em;
}
.clear {
  clear: both;
}
.copyright {
  margin: 3em 0em 2em 0em;
  text-align: center;
}
.copyright p {
  font-size: 1em;
  font-weight: 400;
  color: #fff;
}
.copyright p a {
  font-size: 1em;
  font-weight: 400;
  color: #fff;
}
.copyright p a:hover {
  color: #d34836;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: #e9ecf4;
  color: #000;
  font-family: "Roboto", sans-serif;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.contenedor {
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);

  grid-template-areas:
    "header header header"
    "contenido contenido sidebar"
    "widget-1 widget-2 sidebar"
    "footer footer footer";
}

.contenedor > div,
.contenedor .header,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer {
  background: #fff;
  padding: 20px;
  border-radius: 4px;
}

.contenedor .header {
  background: #12203e;
  color: #fff;
  grid-area: header;
}

.barra {
  color: white;
}

.contenedor .contenido {
  grid-area: contenido;
}

.contenedor .sidebar {
  grid-column: 3 / 4;
  background: #faa43d;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  grid-area: sidebar;
}

@media screen and (max-width: 768px) {
  .contenedor {
    grid-template-areas:
      "header header header"
      "contenido contenido contenido"
      "sidebar sidebar sidebar";
  }
}
