
*{
    margin: 0;
    padding: 0;
}

h1{
    position: absolute;
    width: 724px;
    height: 207px;
    left: 503px;
    top: 50px;
    font-family: Ribeye Marrow;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-align: center;
    color:#D12ECB;
}

.message-welcome{
   position: absolute;
   width: 392px;
   height: 54px;
   left: 471px;
   top: 200px;
   font-family: Roboto;
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 150%;
   color: #43B1AB;

}
.email-login{
    position: absolute;
    width: 295px;
    height: 66px;
    left: 503px;
    top: 300px;
    box-sizing: border-box;
    justify-content: space-between;
    border: 1px  solid #43B1AB
   
}


.email-register{
    position: absolute;
    width: 295px;
    height: 66px;
    left: 503px;
    top: 300px;
    box-sizing: border-box;
    justify-content: space-between;
    border: 1px  solid #43B1AB
   
}

.password-login{
    position: absolute;
    width: 295px;
    height: 66px;
    left: 503px;
    top: 400px;
    box-sizing: border-box;
    justify-content: space-between;
    border: 1px  solid #43B1AB
    
     
}
.password-register{
    position: absolute;
    width: 295px;
    height: 66px;
    left: 503px;
    top: 400px;
    box-sizing: border-box;
    justify-content: space-between;
    border: 1px  solid #43B1AB
    
     
}

.name-register{
    position: absolute;
    width: 295px;
    height: 66px;
    left: 503px;
    top: 200px;
    box-sizing: border-box;
    justify-content: space-between;
    border: 1px  solid #43B1AB
    
     
}
.btn-login{
    position: absolute;
    width: 121px;
    height: 52px;
    left: 581px;
    top: 500px;
    background:  #43B1AB;
    border-radius: 10px;
    border-style: none;
    font-size: 1.6 em;
    color: white;
    cursor: pointer;
}



.btn-register{
    position: absolute;
    width: 121px;
    height: 52px;
    left: 581px;
    top: 500px;
    background:  #43B1AB;
    border-radius: 10px;
    border-style: none;
    font-size: 1.6 em;
    color: white;
    cursor: pointer;
}

.message-options{
    position: absolute;
    width: 255px;
    height: 27px;
    left: 548px;
    top: 600px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #000000;
}

.btn-facebook{
   position: absolute; 
   width: 48px;
   height: 48px;
   left: 560px;
   top: 650px;
}

.btn-Google{
   position: absolute;
   width: 48px;
   height: 48px;
   left: 640px;
   top: 650px;
}

.message-question{
   position: absolute;
   width: 290px;
   height: 30px;
   left: 512px;
   top: 710px;
   font-family: Roboto;
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 150%;
   color: #000000;
}


.btn-signup {
    position: absolute;
    width: 290px;
    height: 30px;
    left: 700px;
    top: 710px;
    background:  #43B1AB;
    border-radius: 10px;
    border-style: none;
    font-size: 1.6 em;
    color: white;
    cursor: pointer;
}
.txt-sign-up{
    position: absolute;
    width: 290px;
    height: 30px;
    left: 700px;
    top: 710px;
    border-radius: 10px;
    border-style: none;
    font-size: 1.6 em;
    color: fuchsia;
    cursor: point

}
.txt-init-session{
    position: absolute;
    width: 290px;
    height: 30px;
    left: 700px;
    top: 710px;
    border-radius: 10px;
    border-style: none;
    font-size: 1.6 em;
    color: fuchsia;
    cursor: point

}

.email-logins::placeholder, 
.password-login::placeholder,
.name-register::placeholder, 
.email-register::placeholder, 
.password-register::placeholder
{
    color: #43B1AB;
    border-radius: 100px;
}

body{
 
    width: 100vh;
    height: 100vh;
} 

.body-mistake{
    text-align: center;
}


i.anc-fa { 
    background: url(../images/facebook.png);
    width: 26px;
    height: 19px;
    display: inline-block;
    padding: 13px 13px;
    z-index:999 ;
    margin: 0 -10px;
  }

  i.anc-go {
    background: url(../images/google.png);
    width: 20px;
    height: 19px;
    display: inline-block;
    padding: 13px 13px;
  }